<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wisenews | Main Page</title>
</head>
<body>
    <h1 th:text="'Hello! ' + ${name} + '! You Are on main page of Wisenews! '"></h1>

    <div class="magazines__form">
        <form action="" method="post">
            <input type="text" required="true" name="name" placeholder="Название Журнала">
            <input type="text" required="true" name="contains" placeholder="Текст содержания журнала">
            <input type="text" required="true" name="link" placeholder="Введите ссылку на журнал">
            <input type="text" required="true" name="tag" placeholder="Введите тэги">
            <button type="submit">Create Magazine Card</button>
        </form>
    </div>

    <div class="magazines__filter">
        <form action="filter" method="post">
            <input type="text" name="filter" placeholder="Введите название тега">
            <button type="submit">Find Magazines</button>
        </form>
    </div>

    <div class="magazines__list">
        <th:block th:if="${magazines.empty}">
            <div class="block__magazines">
                <span>No magazines!</span>
            </div>
        </th:block>
        <div th:each="magazine: ${magazines}">
            <span th:text="${magazine.id}"></span>
            <span th:text="${magazine.name}"></span>
            <span th:text="${magazine.contains}"></span>
            <span th:text="${magazine.link}"></span>
            <span th:text="${magazine.tags}"></span>
        </div>
    </div>

</body>
</html>